<p id="notice"><%= notice %></p>

<h1>Models</h1>

<table class = "table table-striped">
  <thead class = "thead thead-default">
    <tr>
      <th>Foodtype</th>
      <th>Name</th>
      <th>About</th>
      <th>Price</th>
      <th>Food group</th>
      <th>Remote image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
        <td><%= model.FoodType %></td>
        <td><%= model.name %></td>
        <td><%= model.about %></td>
        <td><%= model.price %></td>
        <td><%= model.food_group %></td>
        <td><%= model.remote_image_url %></td>
        <td><%= link_to 'Show', model %></td>
        <td><%= link_to 'Edit', edit_model_path(model) %></td>
        <td><%= link_to 'Destroy', model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <%= link_to "New FoodType", new_food_type_path, class: "btn btn-secondary"%>
</table>

<br>

<%= link_to 'New Model', new_model_path %>
