<p id="notice"><%= notice %></p>

<p>
  <strong>Foodtype:</strong>
  <%= @model.FoodType %>
</p>

<p>
  <strong>Name:</strong>
  <%= @model.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @model.about %>
</p>

<p>
  <strong>Price:</strong>
  <%= @model.price %>
</p>

<p>
  <strong>Food group:</strong>
  <%= @model.food_group %>
</p>

<p>
  <strong>Remote image url:</strong>
  <%= @model.remote_image_url %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
